.container {
    width: 75vw;
}

.board {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
}

.cell {
    background-color: blue;
    
}

.ship {
    background-color: red;
}