:root {
    --cadet-gray: #a0b9bfff;
    --persian-blue: #2541b2ff;
    --light-blue: #a5ccd1ff;
    --naples-yellow: #f4d35eff;
    --kelly-green: #3ec300ff;
}

body {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body * {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-family: "Cherry Bomb One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

button {
    background-color: var(--light-blue);
    padding: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
}

.container {
    width: 80vw;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#player-count, #place-buttons > * {
    margin: 10px;
}

#player-count > button {
    margin: 15px;
}

#boards {
    width: 75%;
    height: 75vh;
    display: grid;
    justify-content: space-around;
}

#my-board, #enemy-board, #placement-board {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
}

.cell {
    background-color: blue;
    border: 1px solid black;
}

.ship {
    background-color: red;
}

.sunk {
    background-color: gray;
}

.hit {
    background-color: aqua;
}

.hit.enemy-ship {
    background-color: pink;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }